body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    
    .login-form {
        width: 100%;
        max-width: 700px;
        padding: 30px;
        border: 1px solid black;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
    }

    .login-input {
        margin-bottom: 16px;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .login-form {
        padding: 20px;
    }
}